<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- <bean id="bgtHwNoPcmList.xls" class="th.go.dss.topbudget.view.BgtHwNoPcmListExcelView"/> 
		<bean id="bgtOtherNoPcm.xls" class="th.go.dss.topbudget.view.BgtOtherNoPcmListExcelView"/> 
		<bean id="bgtHasPcm.xls" class="th.go.dss.topbudget.view.BgtHasPcmListExcelView"/> 
		<bean id="bgtAll.xls" class="th.go.dss.topbudget.view.BgtAllExcelView"/> -->
</beans>