<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="sample.xls" class="biz.thaicom.eBudgeting.view.SampleXLSView"/>
	bean id="report2.xls" class="biz.thaicom.eBudgeting.view.Report2XLSView"/>
	<bean id="report11.xls" class="biz.thaicom.eBudgeting.view.Report11XLSView"/>
	<bean id="report1.xls" class="biz.thaicom.eBudgeting.view.Report1XLSView"/>
	
</beans>