/* if use nav bar */
body {
	/*padding-top: 150px;*/ /* 60px to make the container go all the way to the bottom of the topbar */
	background: none repeat scroll 0 0 #CACED1;
}

div#container-body {
	min-height: 200px;
	background-color: #FFFFFF;
}

div.navbar {
	margin-bottom: 0px;
	background-color: #F3F3F3;
	
}

.navbar .brand {
	margin-left: 0px;
}

.navbar-text {
	margin-right: 10px;
}

.white {
  background-color: #FFFFFF;
  padding-top: 20px;
}

div#pageHeader {
	background-image: url("../graphics/header2.gif");
	height: 120px;
}

.footer div.span12 {
	padding-top: 10px;
	float: left;
  	width: 100%;
	text-align: center;
	font-size: 12px;
}

.footer div.span12 ul {
	margin: 0 auto; 
    text-align: left;
	width: 70em;
	
}

.footer div.span12 ul li {
	display: inline;
	position: relative
	float: left;
	list-style-type: none;
	padding-right: 24px;
}

.table-menu {
	margin-bottom: 10px;
}

input[type="checkbox"].checkbox_tree {
	display: none;
}

input[type="checkbox"].checkbox_tree + label.main{
	margin-bottom: 0px;
	padding-left: 3px;
	padding-right: 5px;
	display: inline;
}

label.expand{
/*	background-image:  url("../graphics/minus.png"); 
	background-repeat: no-repeat;
	background-position: 6px 75%;	*/
	margin-right: 0px;
	display: inline;
	padding-left:5px;
}

label.collapse{
/*	background-image:  url("../graphics/plus.png");
	background-repeat: no-repeat;
	background-position: 6px 75%;	*/
	margin-right: 0px;
	display: inline;
	padding-left:5px;
}

a.editSpan{
	border-bottom: 1px dashed #0088CC;
    text-decoration: none;
}

.smallTxt {
	font-size: small;
}

ul.noBullet {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.right-align
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

ul.right-align li 
{
	padding-right: .6em;
}

div.inRow tr td:first-child {
	border-left: 0px;
}

table.table thead td {
	background-color:#4C6E9C;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	
}

table.table thead th {
	text-align: center;
	vertical-align: top;
}

table tr.sumRow td {
	background-color:#4C6E9C;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
}

table.table tbody tr.selected td {
	background-color: #FFFFCC;
}

table.table tbody tr.type-101 td {
	background-color: #ffd700;
}

table.table tbody tr.type-102 td {
	background-color: #ffff00;
}

table.table tbody tr.type-103 td {
	background-color: #eedd82;
}

table.table tbody td.centerAlign {
	text-align: center;
}

table.table tbody td.rightAlign {
	text-align: right;
}

.modal .modal-header {
	background-color:#afeeee;
}

div#headLine {
	margin-bottom: 24px;
}

span.label.mini {
	font-size: 10.5px;
}

.hero-unit {
	font-size: 14px;
	line-height: 1.2;
}

.hero-unit li {
	line-height: 1.2;
}

#formulaBox > div {
	float: left;
	padding:9px 2px 9px 2px;
}

#formulaBox > div.text {
	float: left;
	padding:15px 2px 0px 2px;
}

#formulaBox > div:FIRST-CHILD {
	float: left;
	text-align: right;
	padding:15px 2px 0px 10px;
}

.wideModal {
	width:840px;
   	margin-left:-420px;
}

.icon-red {
	color:#BD362F;
}

.icon-blue {
	color:#1E90FF;
}
